@layout('main')
@section('content')
  <section>
    <h1 class="title">Bookist!</h1>
    <p class="subtitle">AdonisJs simplicity will make you feel confident about your code</p>
  </section>
@endsection
