@layout('main')

@section('content')
  <section>
    <img class="logo" src="/img/book.svg">
    <h1 class="title">Bookist!</h1>
    <p class="subtitle">Uma maneira simples de manter seu histórico de livros.</p>
    <p class="tip">use as opções acima para começar ;)</p>
  </section>
@endsection
