@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-image: url("../img/splash.png");
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container {
  max-width: 152.0rem;
}

.logo {
  width: 125px;
}

.title {
  color: #292626;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
  font-size: 56px;
}

.subtitle {
  margin-top: 25px;
  color: #292626;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}

.tip {
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.8s forwards;
}

.navigation-list {
  padding: 20px 10px;
  text-align: center;
}

.navigation-list li {
  display: inline;
  font-size: 22px;
  list-style: none;
  margin: 0 20px;
}

.button-black {
  background-color: black;
  border-color: black;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  color: #606c76;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 80%;
  padding: 1.5rem;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
