<nav class="navigation">
  <section>
    <ul class="navigation-list">
      <li><a href="/authors">Autores</a></li>
      <li><a href="/publishers">Editoras</a></li>
      <li><a href="/books">Livros</a></li>
    </ul>
  </section>
</nav>
